<!DOCTYPE html>
<meta charset="UTF-8">
<html>
  <head>
    <title>채티 파일 자동 변환 사이트</title>
  </head>
    
  <body>
    <center><h1>채티 파일로 변환</h1></center>
    <hr width="100%" color="black"/>
    <center>
    <p>.json 형식을 제출하면 .txt 파일로 변환합니다.</p>
    <p>.txt 파일을 줄바꿈으로 수정해 지문 및 대사의 호흡을 조절하세요.</p><br>
    <p>.txt 형식의 챗봇 대화 결과물 파일을 제출하면 chatie.json파일로 변환합니다.</p>
    <form action = "/" method = "POST"
         enctype = "multipart/form-data">
    <input type = "file" name = "file" />
    <input type = "submit"/>
    </form>
    </center>
  </body>
</html>
